.form {
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.form__fieldset {
  display: flex;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  border: none;
  flex-direction: column;
}

.form__label {
  display: flex;
  justify-content: start;
  margin-bottom: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  width: 385px;
  height: 60px;
  margin-bottom: 31px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: #838383;
  border-width: 1px;
  border-style: solid;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.form__button {
  border: none;
  margin-bottom: 32px;
  height: 60px;
  color: white;
  border-radius: 4px;
  border-width: thin;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  transition-duration: 0.2s;
  transition-delay: 0.1s;
}

.form__button:hover {
  opacity: 70%;
}

.form__label_type_checkbox {
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}
