.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reservation__title {
  display: flex;
  margin: 0;
  margin-bottom: 80px;
  padding-top: 100px;
  width: 100%;
  justify-content: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0;
  padding-bottom: 120px;
}
